# comment

#Игнорирует все указанные файлы и папки
main.css
test
node_modules


# Звездочка это какое то имя. Игнорируем все файлы во всем проекте с расширением .txt
*.txt

# Слэш позволяет прописать конкретный путь до папки или файла
/test/*.txt

# Восклицательный знак настраивает исключение
!/test/test.txt